/* Proyecto final Git & Github 
Nombre:
López Chong Samanta Lizbeth
Ruiz Villalba Valentina Fabienne
Fecha de entrega: 16/08/20 */


/*--------------------------------------------------------------------
		ESTILO DOCUMENTO 2 / Información de la rama BasicGit
----------------------------------------------------------------------
*/


body{
	background-color: #58b368;
	font-family: 'Nunito', sans-serif;
}


/*Parte de la navegación*/

#navigation{
	display: inline-block;
	color: #2e282a;
	background-color: transparent;
	width: 90%;
	margin: auto;
	margin-left: 30px;
	border-radius: 4px;
	text-align: center;
	padding-right: 40px;
	padding-left: 40;
}

#navigation > a{
	font-weight: bold;
	color: #2e282a;
}

.ref_doc{
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
}

/*transition*/

.ref_doc{
	padding: 15px 15px 15px 15px;
	opacity: 0.6;
	transition: 0.3s;
}

.ref_doc:hover{
	opacity: 1;
}

/*------------------------------------------------------------------------*/


/*Título del artículo*/

#header{
	padding: 10px 45px 10px 45px;
}

#header > .description{
	text-align: right;
	color: #841818;
}

.title > .enchanted{
	/*font-family: 'IM Fell French Canon SC', serif;*/
    font-family: 'Nunito', sans-serif;
    font-family: 'MedievalSharp', cursive;
}

.enchanted > .colorDif{
	color: #9c2c2c;

}

.title > .colorDif{
	color: #9c2c2c
}

.title{
	font-family: 'Nunito', sans-serif;
    font-family: 'MedievalSharp', cursive;
	font-size: 50px;
	color: #681313;
}

#title_proy{
	display: inline-block;
	margin-right: 450px;
	text-align: left;
}

#header > #icono{
	position: absolute;
	margin-right: 40cm;
}

/*---------------------------------------------------------------*/

/*"caja" color vede azulado*/

.conteiner{
	border-radius: 4px;
	background-color: #009975;
	width: auto;
	margin-top: 25px;
	margin-left: 130px;
	margin-right: 130px;
	text-align: justify;
	margin-bottom: 10px;
	padding: 10px 10px 10px;
}
/*---------------------------------------------------------------*/

/*Información principal*/


#main_info{
	border-radius: 2px;
	/*background-color: #d9d872;*/
	background-color: #ebefd0; ¨/*Color beige*/
	width: auto;
	margin: auto;
	margin-left: 90px;
	margin-right: 90px;
	padding: 10px 25px 20px 25px;
}

#main_info > #title_2{
	color:  #610f0f;
}

#main_info > .subtitle{
	color: #9c2c2c;
}


.comand{
	font-family: 'Roboto Mono', monospace;
	text-shadow: 1px 1px rgba(44, 150, 91, 0.418);
}



/*---------------------------------------------------------------*/

/*Pie de página*/

footer{
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	background: #02576c;
	text-align: center;
	color: #6a0000;
	font-size: 16px;
	font-weight: bold;
	border-radius: 2px;
	font-family: 'Nunito', sans-serif;
    font-family: 'MedievalSharp', cursive;
}

#piePagina a{
	color: #7d0000;
}

/*---------------------------------------------------------------*/

